{% extends "layout.html" %}
{% block content %}

    <!-- Header -->
    <header class="bigimg w3-container w3-grey w3-center w3-text-light-grey w3-animate-opacity" style="padding:400px 16px">
        <h1 class="w3-margin w3-jumbo">Hi.</h1>
        <p class="w3-xlarge">I hope you enjoy your stay.</p>
    </header>

    <!-- First Grid -->
    <div class="w3-row-padding w3-padding-48 w3-container">
        <div class="w3-content">
            <div class="w3-twothird">
                <h1>Machine Learning</h1>
                <h5 class="w3-padding-32">
                    I work in the financial industry focusing on finding and implementing varying machine learning applications.
                    This is a fun topic that gets more important every day. For this reason and simply because I enjoy it, 
                    I want to show you how machine learning works and how we can apply it in different situations.
                </h5>
                <p class="w3-text-grey">
                    Not all examples will be beginner-friendly. If you cannot follow some of the content, you might
                    benefit from going through some basic tutorials at first.
                </p>
            </div>
            <div class="w3-third w3-center">
                <i class="fa fa-anchor w3-padding-64 w3-text-dark-gray"></i>
            </div>
        </div>
    </div>


    <!-- Second Grid -->
    <div class="w3-row-padding w3-dark-grey w3-padding-32 w3-container">
        <div class="w3-content">
            <div class="w3-third w3-center">
                <i class="material-icons w3-text-light-green">android</i>
            </div>
            <div class="w3-twothird">
                <h1>Break Time is Game Time</h1>
                <h5 class="w3-padding-32">
                    I was a heavy gamer when I was a child and I still enjoy it. 
                    After a friend introduced me to game programming, 
                    I have started a couple of small projects, which you can 
                    try out here. But be warned: I do not like easy games.
                </h5>
            </div>
        </div>
    </div>

    s
    <!-- Third Grid -->
    <div class="w3-row-padding w3-padding-48 w3-container">
        <div class="w3-content">
            <div class="w3-twothird">
                <h1>Miscellaneous</h1>
                <h5 class="w3-padding-32">
                    Apart from the above, I am demonstrating or explaining things on this site
                    that I find interesting or worthwile showing. This could be an implementation of certain features
                    with programming languages such as Python or JavaScript. Or it can just be
                    some random thing I came across.
                </h5>
            </div>
            <div class="w3-third w3-center">
                <!-- <i class="fa fa-parachute-box w3-padding-64 w3-text-dark-gray"></i> -->
                <i class="material-icons w3-text-dark-gray">laptop</i>
            </div>
        </div>
    </div>

    <!-- Testing: Make horizontal bar to see the parallax background. -->
    <!-- <header class="bigimg w3-container w3-grey w3-center w3-text-light-grey w3-animate-opacity" style="padding:100px 16px"></header> -->

    <!-- My Current Recommendation -->
    <div class="w3-container w3-dark-grey w3-padding-32 w3-center">
        <h1>Check This Out</h1>
        <p class="w3-text-white">Punch Deck creates free to use music. A channel this talented should get more views.</p>
        <iframe height="550" width="820" frameborder="0" allowfullscreen src="https://www.youtube.com/embed/iE_2RmGWVDM"></iframe>
    </div>

    

{% endblock %}